body {
    /* background-color: #f6ede0; */
    background: whitesmoke;
    margin:0px;
}

.top-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #f6ede0; */
}

h1{
    /* margin:10px; */
    margin:10px;
    padding:0px;
    text-align:center;
    font-weight:normal; /*get rid of bold font*/
    font-style:italic;
    /* font-family:'Cairo', sans-serif; */
    
}

.navbar{
    background-color: #f6ede0;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between; /*Push left and right to edges */
    /* align-items: center; */
    /* height:20%; */
     /* justify-content: center;  */
    /* padding: 0 100 0 100; */
    outline: 3px solid red;
    /* margin:0px;
    outline: 2px solid red; Outline around the whole navbar */
}

.navbar ul{
    list-style-type:none;
    /* background-color:pink; */
    margin:0px;
    padding:0px;
    /* overflow:hidden; */
    display:flex;
    align-items:center;
    /* text-align:center; */
    /* justify-content: center; */
}

.page_links a{
    color:black;
    text-decoration: none;
    display:block;
    /* text-align:center; */
    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Cairo', sans-serif;
}


.page_links a:hover{
    color:red;
    /* background-color: red; */
}

.page_links li{
    /* float:left; */
     /*border-right: 2px solid red; /*Outline around each list item */
} 

.name a{
    color:black;
    text-decoration: none;
    display:block;
    font-family:'Cairo', sans-serif;
    padding-left:25px;
    font-size:22px;
}

.icons a{
    padding-right:25px;
    /* padding-right:30px; */
    /* padding-top:10px;
    padding-bottom:10px; */
}

.body-section{
    /*makes it so the section starts right beneath the header*/
    margin:100 20 20 20; 
    /* margin:150 100 20 100; */
    /* background-color: pink; */
    /* border:2px solid red;
    padding:0 20 0 20; */
}

.about-me{
    /* margin:5% 5% 0% 5%; */
    font-size:24px;
    font-family:'Cairo', sans-serif;
    /* background-color: pink; */
    display:flex;
    align-items:center;
    justify-content:center;
}

.about-me img{
    width:30%;
    height:auto;
    margin:5% 5% 5% 0%;
    /* border:3px solid #f6ede0; */
    /* border:2px solid black; */
    /* border:2px solid darkolivegreen; */
    transition: transform 0.3s ease; /* smooth animation */
}

.about-me img:hover{
    transform: scale(1.05); /* zoom in */
}

.bio{
    width:35%;
    height:auto;
    margin:10% 0% 10% 5%;
    /* background-color: grey; */
}

