body {
    background-color: #354f52;
    margin-top:0;
}

.top-section{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
}


.navbar{
    background-color: #354f52;
    display: flex;
    justify-content: space-between; /*Push left and right to edges */
    outline:2px solid #84a98c;
}

.navbar ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
}


.page_links a{
    color: whitesmoke;
    text-decoration: none;
    display:block;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Cairo', sans-serif;
}


.page_links a:hover{
    color:#84a98c;
}

.page_links li{
    /* float:left; */
     /*border-right: 2px solid red; /*Outline around each list item */
} 

.name a{
    color: whitesmoke;
    text-decoration: none;
    display:block;
    font-family:'Cairo', sans-serif;
    font-size:22px;
    margin-left:15px;
}

.icons a{
    padding-right:15px;
    display:block;
}


.about-me{
    display: flex;
    justify-content: center;
    margin:7% 15% 4% 15%;
    outline:2px solid #84a98c;
    border-radius: 15px;
    transition: transform 0.3s ease; /* smooth animation */
    background-color: #52796f;
}

.at-a-glance{
    display: flex;
    margin:4% 15% 4% 15%;
    outline:2px solid #84a98c;
    border-radius: 15px;
    transition: transform 0.3s ease; /* smooth animation */
    background-color: #52796f;
}

.at-a-glance:hover{
    transform: scale(1.1); 
}

.about-me img{
    width:35%;
    height:auto;
    border-radius: 15px;
    /* transition: transform 0.3s ease; smooth animation */
    margin:5% 5% 5% 0%;
}

.about-me:hover{
    transform: scale(1.1); 
}

.about-me img:hover{
    /* transform: scale(1.1); zoom in */
}

.bio{
    font-size:24px;
    font-family:'Cairo', sans-serif; 
    color:whitesmoke;
    margin-left:3%;
    padding-right: 3%;
}

.bio h1{
    font-size:64px;
}

.bio p{
    color:#cad2c5;
    font-size:20px;
}

.buttons{
    display:flex;
    justify-content: center;
    padding:0;
    margin-top:5%;
    gap:5%;
}

.about-me-buttons{
    text-decoration: none;
    color:#354f52;
    border-radius:15px;
    outline:2px solid #354f52;
    padding: .5em 3em;
    font-size:18px;
    font-family:'Cairo', sans-serif; 

}

.about-me-buttons:hover{
    color:whitesmoke;
    outline:1px solid whitesmoke;
}

.about-me-body-section{
    margin:6% 15% 5% 15%;
    font-family:'Cairo', sans-serif; 
}

.about-me-body-section h1{
    font-size:64; 
    color:whitesmoke;
}

.about-me-body-section p{
    color:#cad2c5;
    font-size:18px;
}

.about-me-body-section h2{
    font-size:56px; 
    color:whitesmoke;
    margin-bottom: 0;
}

.about-me-body-section hr{
    color:#52796f;
}

.projects{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    align-items:stretch;
}

.project-showcase {
    /* background-color: #84a98c; */
    display:flex;
    width:20%;
    border-radius:15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:2% 5%;;
    margin:4% 1.5% 6% 1.5%;
    outline:2px solid #354f52;
    font-size:24px;
    text-decoration: none;
    color:#354f52;
}

/* .project-showcase h2{
    font-size:28px;
} */

.project-showcase:hover{
    color:whitesmoke;
    outline:1px solid whitesmoke;
}

.cathy{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.cathy figure{
    width:30%;
    margin:2%;
    transition: transform 0.3s ease; /*smooth animation*/
}

.cathy figcaption{
    margin-top:4%;
    text-align: center;
    color:#84a98c;
    font-style: italic;
    font-size:14px;
}

.cathy img{
    width:100%;
    height:auto;
    border-radius:15px;
}  

.cathy figure:hover{
    transform: scale(1.1); 
}

.socials {
    margin-left:15%;
    margin-bottom:20%;
}

.socials i{
    color:whitesmoke;
    margin-right:4px;
}

.socials p{
    display:flex;
    align-items: center;
    color:whitesmoke;
    /* text-align:center; */
}

.socials img{
    width:20px;
    height:auto;
    margin-right:4px;
}

.socials a{
    text-decoration:underline;
    color:whitesmoke;
}


