body {
    font-family:'Times New Roman', Times, serif;
    background-color: #fff;
    /*chatGPT helped me generate this:*/
    background-image: 
        repeating-linear-gradient(
        to right, 
        rgb(134, 197, 246) 0, 
        rgb(134, 197, 246) 1px, 
        transparent 1px, 
        transparent 25px
        ),
        repeating-linear-gradient(
        to bottom, 
        #ccc 0,         /* it looks kinda good with these as cream and not also blue...*/
        #ccc 1px, 
        transparent 1px, 
        transparent 25px
        );
}


 * { 
    margin: 0; 
    padding: 0; 
} 

.navbar {
    display:flex;
    /* background-color: rgba(146, 248, 91, 0.5); */
    margin:15px auto;
    justify-content: center;    /*puts items in navbar centered*/
    align-items:center;
    width:700px;
}

.nav-list {
    display: flex;
    list-style: none;
    /* padding:5 5 5 5; */
}

.nav-list li {
    margin-right: 30px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color:#22577a;
    /* color:#22577a; */
    font-size: 28px;
    transition: color 0.3s ease-in-out;
    text-decoration:underline;
    font-family:'Cairo', sans-serif;;
}

.nav-list li a:hover {
    color: rgb(134, 197, 246);
    /* Change the color on hover */
}

.name {
    display: flex;
    color:#22577a;
}

.name p {
    font-size: 26px;
    vertical-align: auto;
}

.name i {
    font-size: 26px;
}

.container {
    margin-top:3%;
    display:flex;
    grid-auto-flow:columns;
    /* background-color: pink;  */
    /* align-items:center; vertically centered */
    justify-content:center; /* horizontally centered */
}

.container h1{
    /* background-color: orange; */
    height:200px;
    width:350px;
    /* position:absolute;
    left:850px;
    top:175px; */
    margin-top:7%;
    font-size: 72;
    color:#22577a;
    font-family: 'Arima Koshi', cursive;
    line-height: 1.1;    /*lessen white space between two lines of text*/
} 

.photo {
    /* background-color:orange; */
}

.info {
    margin-left:2%;
    /* background-color: grey; */
}

.profilephoto{
    width:550px;
    height:auto;
    /* position:absolute;
    left:275px;
    top:100px; */
} 

.stickynote-container {
    position:relative;
    display:inline-block;
    /* background-color:green; */
}

.stickynote-container img{
    display:block;
}

.stickynote-container p {
    font-size:26;
    font-style:italic;
    font-family:'Cairo', sans-serif;
    line-height:1.2;
    position:absolute;
    margin-left:5%;
    margin-right:5%;
    top:15%;
}

 .notepic{
    /* position:absolute;
    left:850px;
    top:355px; */
    width:350px;
    height:auto;
}


/* 
.star-img{
    width:100px;
    height:auto;
    position:absolute;
    bottom:50px;
    left:750px;
}
.heart-img{
    width:100px;
    height:auto;
    position:absolute;
    bottom:75px;
    left:650px;
} */

